section#form form.box-form {
    height: 62px;
    width: 50%;
    margin: -540px auto 0 312px;
    display: flex;
    flex-direction: row;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 7px 4px -7px gray;
    border-radius: 40px;
    overflow: hidden;
    z-index: 100000;
}
section#form form.box-form .icon {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem 1rem 1.5rem;
    background: rgba(0, 0, 0, 0.15);
}
section#form form.box-form input {
    padding: 0 1rem;
    height: 100%;
    width: 100%;
    border: 0;
    color: #777;
    background: transparent;
    font-size: 22px;
}

section#form form.box-form input::placeholder {
    color: #6a6a6a;
    opacity: 0.6;
}

@media (max-width: 650px) {
    section#form form.box-form {
        width: 80%;
        margin: -495px auto 0 10px;
        height: 50px;
    }
    section#form form.box-form input {
        font-size: 18px;
        padding: 0 0.5rem;
    }
    section#form form.box-form .icon {
        padding: 0.75rem 0.75rem 0.75rem 1rem;
    }
}
