ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    list-style: none;
    margin-top: 50px;
  }

li.box-item {
  background: #fff;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  padding: 20px;
  text-align: center;
}

li.box-item strong {
  color: #666;
  font-size: 48px;
  margin: 10px 0;
}

@media (max-width: 650px) {
  
    ul {
      grid-template-columns: 1fr;
  }
  .content {
    width: 90%;
  }
}