.slick-prev:before {
    color: #444;
  }
  .slick-next:before {
    color: #444;
  }
.featured {
    width: 100%;
}
.top-content {
    width: 60%;
    margin: 0 auto;
}
.top-content-mobile {
    width: 80%;
    margin: 0 auto;

}

.top-content strong {
    color: #666;
    font-size: 78px;
    padding-top: 30px;
}
.top-content span {
    color: #444;
}

.top-content-mobile strong {
    color: #666;
    font-size: 78px;
    padding-top: 30px;
}
.top-content-mobile span {
    color: #444;
    margin-top: 5px;
    font-size: 15px;
}
