.top-content {
    width: 70%;
}
.top-content-mobile {
    width: 85%;
}

.top-content strong {
    color: #666;
    font-size: 78px;
    padding-top: 30px;
}
.top-content span {
    color: #444;
    margin-top: 10px;
}

.top-content-mobile strong {
    color: #666;
    font-size: 78px;
    padding-top: 30px;
}
.top-content-mobile span {
    color: #444;
    margin-top: 10px;
}