footer {
    margin-top: 100px;
    width: 100%;
    min-height: 78px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25% 10px 25%;
    background: rgba(255, 255, 255, 0.4);

  }
  footer .box-column {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    font-size: 12px;
  }
  footer hr {
    display: none;
  }

  footer .item {
    margin: 10px 0;
    color: #555;
  }

  footer .box-hashtag {
    display: flex;
    flex-direction: column;
  }
  footer .box-hashtag .hashtag-item {

    font-size: 16px;
    background-color: #fbe12a;
    font-weight: bold;
    color: #322935;
    width: 100%;
    text-align: center;
    margin-top: 6px;
  }
  footer .box-column img {
    margin: 0 auto;
  }
  @media (max-width: 650px) {

    footer {
      justify-content: center;
      flex-direction: column;
      padding: 20px 0 20px 0;
    }
    footer .item {
      width: 100%;
      text-align: center;
      margin: 0 auto;
    }
    footer .box-hashtag .hashtag-item {
      width: 50%;
      margin-left: 25%;
      margin-right: 25%;
    }
    footer .box-hashtag {
      margin-bottom: 20px;
    }
    footer .item hr {
      display: inline-block;
      border: 0.3px solid #666;
      width: 75%;
      margin-bottom: 20px;
      margin: 0 auto;
    }
    .item-responsive {
      justify-content: space-between;
    }
    footer .box-column {
      margin: 0;
    }

  }