@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:800&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

html {
  background: #dae5e8;
  -webkit-front-smoothing: antialiased !important;
}

body, input, button {
  font-family: 'Roboto' ,Arial, Helvetica, sans-serif;
}
.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container .title-box {
  background-color: #a277f6;
  padding: 30px 20px 0 20px;
  color: #353244;
  border-radius: 0 0 12px 12px;
  font-size: 44px;
}

.container h1 {
  font-family: 'Open Sans';
  text-transform: uppercase;
  font-size: 42px;
}
.container .box-situation {
  margin-top: 50px;
}
.container .box-situation {
  text-align: center;
}
.container .box-situation .box-rn {
  text-align: center;
  margin-top: 10px;
}
.container .box-situation p{
  font-size: 42px;
  color: #0b402f;
}

.container .box-datetime {
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
}

.container .box-situation .box-rn mark {
  line-height: 1px;
  font-size: 48px;
  background-color: #15e8cd;
  color: #0b402f;
}

.container footer {
  top: 90%;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: inherit;
  text-align: justify;
  bottom: 0;
  max-width: 1200px;
  width: 90%;
  height: 50px;
}
.container footer .slogan-rn {
  margin-right: auto;
  display: inline-block;
  width: 33%;
  color: #7d1918;
  line-height: 25px;
}

.container footer .slogan-rn span {
}

.container footer .emblema-rn {
  display: inline-block;
  width: 33%;

}
.container footer .emblema-rn img {
  width: 256px;
  height: 126px;
}
.container footer .hashtag {
  display: inline-block;
  width: 33%;

  display: flex;
  flex-direction: column;
  align-items: center;

}

.container footer .hashtag .hashtag-item{
  font-size: 16px;
  background-color: #fbe12a;
  font-weight: bold;
  color: #322935;
  width: 100%;
  text-align: center;
  margin: 4px;
  margin-left: auto;
}


@media (max-width: 650px) {
  .container footer {
    flex-direction: column;
    align-items: center;
    position: static;
    width: 100%;
    margin-top: 30px;
  }
  .container footer .emblema-rn, .container footer .hashtag, .container footer .slogan-rn  {
    width: auto;
    margin: 0 auto;
  }
}